<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">

	<!-- TaskMapper.javaと同じファイル構造にこのTaskMapper.XMLを置くことで 自動でインターフェースとXMLファイルがマッピングされる 
		あとでコメント付けて復習する -->

	<select id="findAll" resultType="com.example.demo.entity.Task">
		SELECT * FROM public.task WHERE
		delete_flg = false;
	</select>

	<insert id="save">
		<!-- 新規タスクの登録 -->
		INSERT INTO public.task
		(title, description, deadline,
		status,created_at,updated_at, delete_flg)
		VALUES
		(#{title},
		#{description}, #{deadline},
		1,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,false);
	</insert>

	<!-- タスクIDを指定してタスクを取得 -->
	<select id="getTask" resultType="com.example.demo.entity.Task">
		SELECT * FROM public.task WHERE task_id
		= #{taskId} AND delete_flg = false;
	</select>
	<!-- WHERE taskIdとしていたが、DBの実際のカラム名はtask_id そんなことなかった-->

	<!-- タスクの更新 -->
	<update id="update" parameterType="com.example.demo.entity.Task">
		UPDATE public.task
		SET title = #{title},
		description = #{description},
		deadline = #{deadline},
		status = #{status},
		updated_at = CURRENT_TIMESTAMP
		WHERE task_id = #{taskId}<!-- task_idがtaskIdのままだった そんなことなかった-->
		<!-- AND updated_at = #{updatedAt} -->
		;
	</update>
	
	<delete id="delete">
		DELETE FROM task WHERE task_id = #{taskId} AND delete_flg = false;
	</delete>
</mapper>






